/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

a {
    text-decoration: none;
    color: inherit;
}
/* Header Styles */
.site-header {
    background-color: #4CAF50;
    padding: 15px 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.site-header h1 {
    color: white;
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: 600;
}

.site-header nav ul {
    list-style: none;
}

.site-header nav ul li {
    display: inline-block;
    margin-right: 20px;
}

.site-header nav ul li a {
    color: white;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

.site-header nav ul li a:hover {
    color: #FFD700; /* Gold color for hover */
}

button {
    font-size: 1.1rem;
    background-color: #4CAF50;
    color: white;
    padding: auto;
    border: none;
    cursor: pointer;
}

button:hover {
    color: #FFD700;
}

/* Profile Card Styles */
.profile-card {
    max-width: 600px;
    margin: 30px auto;
    background-color: #888686;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}
/* Main Content Styling */
.about-content {
    max-width: 900px;
    margin: 40px auto;
    padding: 0 20px;
    line-height: 1.8;
}

.about-content section {
    margin-bottom: 40px;
    background-color: #f7fafc; /* Light Gray Background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.about-content h2 {
    font-size: 1.8rem;
    color: #2c7a7b;
    margin-bottom: 15px;
    text-transform: uppercase;
    border-bottom: 2px solid #2c7a7b;
    padding-bottom: 5px;
}

.about-content p {
    font-size: 1.1rem;
    color: #4a5568;
    text-align: justify;
    margin-top: 10px;
}

/* Footer Styles */
.site-footer {
    text-align: center;
    padding: 15px;
    background-color: #4CAF50;
    color: white;
    font-size: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.site-footer p {
    margin: 0;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .about-content {
        padding: 0 15px;
    }

    .back-button {
        font-size: 14px;
        padding: 7px 10px;
    }

    .about-content h2 {
        font-size: 1.6rem;
    }

    .about-content p {
        font-size: 1rem;
    }
    .nav-links ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links ul li {
        margin-bottom: 10px;
    }

    .nav-links ul li a {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .site-header {
        padding: 10px 0;
    }

    .back-button {
        font-size: 12px;
        padding: 5px 8px;
    }

    h1 {
        font-size: 2rem;
    }

    .about-content h2 {
        font-size: 1.4rem;
    }

    .about-content p {
        font-size: 0.9rem;
    }
}



